$tp-list: list-theme(
    $schema: $dark-schema,
    $item-background-hover: $row-background,
    $item-background-active: $row-background,
    $item-text-color-hover: #fff,
    $item-text-color: #fff,
    $item-action-color: #535b76,
    $item-action-color-hover: #fff,
    $item-action-color-active: #fff,
);

/* $tp-light-list: list-theme(
    $item-action-color: color($tp-light-palette, 'gray' 200),
    $item-action-color-hover: color($tp-light-palette, 'gray' 400),
    $item-action-color-active: color($tp-light-palette, 'gray' 400),
); */
