$tp-tabs: tabs-theme(
    $schema: $dark-schema,
    $item-background: darken(color($tp-palette, 'surface'), 1%),
    $indicator-color: color($tp-palette, 'secondary'),
    $item-active-color: color($tp-palette, 'secondary'),
    $item-active-icon-color: color($tp-palette, 'secondary'),
    $button-background: transparent
);

$tp-light-tabs: tabs-theme(
    $item-background: color($tp-light-palette, 'gray', 100),
    $indicator-color: color($tp-light-palette, 'secondary'),
    $item-active-color: color($tp-light-palette, 'gray', 800),
    $item-text-color: color($tp-light-palette, 'gray', 700)
);
