$tp-drop-down: drop-down-theme(
	$schema: $dark-schema,
	$hover-item-background: $row-selected-background--hover,
	$focused-item-background: $row-selected-background--hover,
	$selected-item-background: $row-selected-background,
	$selected-focus-item-background: $row-selected-background
);
