@use '@infragistics/igniteui-angular/theming' as *;
@use "vars" as *;

$tp-paginator: paginator-theme(
    $schema: $dark-schema,
    $background: $tp-grays-gradient,
    $border-color: $header-background,
);
