$tp-grid: grid-theme(
    $schema: $dark-schema,
    $header-background: $header-background,
    $content-background: color($tp-palette, 'surface'),
    $header-border-color: color($tp-palette, 'surface'),

    $row-border-color: color($tp-palette, 'surface'),
    $row-odd-background: $row-background,
    $row-even-background: $row-background,
    $row-selected-background: $row-selected-background,
    $row-selected-hover-background: $row-selected-background--hover,
    $row-selected-text-color: $light-text,

    $group-row-background: $row-background,
    $group-row-selected-background: $row-selected-background,

    $expand-all-icon-color: color($tp-palette, 'secondary'),
    $expand-all-icon-hover-color: color($tp-palette, 'secondary', 600),
    $expand-icon-color: color($tp-palette, 'secondary'),
    $expand-icon-hover-color: color($tp-palette, 'secondary', 600),

    $cell-selected-background: $row-col-background,
    $cell-editing-background: $row-col-background,
    $cell-edited-value-color: color($tp-palette, 'secondary', 400),

    $drop-area-background: $row-background,
    $drop-area-on-drop-background: lighten($row-background, 10%),

    $grouparea-background: $tp-grays-gradient,
    $ghost-header-background: color($tp-palette, 'surface'),
    $filtering-header-background: color($tp-palette, 'surface'),
    $filtering-row-background: color($tp-palette, 'surface'),
    $body-summaries-background: color($tp-palette, 'surface'),
    $root-summaries-background: color($tp-palette, 'surface'),
    $row-ghost-background: #4A4F64,

    $pinned-border-color: transparentize(color($tp-palette, 'secondary'), .95),
    $edited-row-indicator: color($tp-palette, 'secondary'),

);

$tp-light-grid: grid-theme(
    $grid-shadow: none,
    $cell-edited-value-color: color($tp-light-palette, 'secondary'),
    $edited-row-indicator: color($tp-light-palette, 'secondary'),
)
