$tp-badge-radius: 11px;
$tp-badge-shadow: none;

$badge-inreview: badge-theme(
    $border-radius: $tp-badge-radius,
    $background-color: $state-inreview,
    $shadow: $tp-badge-shadow,
);

$badge-indevelopment: badge-theme(
    $border-radius: $tp-badge-radius,
    $background-color: $state-indevelopment,
    $shadow: $tp-badge-shadow,
);

$badge-resolved: badge-theme(
    $border-radius: $tp-badge-radius,
    $background-color: $state-resolved,
    $shadow: $tp-badge-shadow,
);

$badge-delayed: badge-theme(
    $border-radius: $tp-badge-radius,
    $background-color: $state-delayed,
    $shadow: $tp-badge-shadow,
);
