@use '@infragistics/igniteui-angular/theming' as *;
@forward '@infragistics/igniteui-angular/theming';
@import "tp-palettes";
$backlog-card-header-height: rem(57px);
$backlog-tab-header-height: rem(58px);
$header-height: rem(57px);
$config-height: rem(68px);
$search-height: rem(50px);
$search-margin: rem(16px);
$tp-app-padding: rem(24px);
$scroll-subtract: $backlog-tab-header-height+$search-height+($tp-app-padding * 1.3);
$backlog-width: rem(300px);
$offset-top: $header-height;
$state-resolved: #52e282;
$state-inreview: #54d5ee;
$state-indevelopment: #b38de6;
$state-late: #bc9e60;
$state-critical: #ea4d4f;
$state-high: #dc9621;
$state-delayed: #b1d2c5;
$tp-grays-gradient: color($tp-palette, 'surface');
$tp-grays-gradient-btn: linear-gradient(90deg, #343745 0%, rgba(65, 70, 92, 1) 35%, #343745 100%);
$row-background: #343745;
$row-col-background: #2e313c;
$btn-icon-background: #262933;
$header-background: $row-background;
$scrollbar-track: darken($row-background, 3%);
$row-selected-background: #423A43;
$row-selected-background--hover: #5E4C4F;
$scrollbar-thumb: rgba(65, 70, 92, 1);
$light-text: #fff;
$dark-text: #333;
$light-bg: #efefef;
$tp-radius: rem(8px);