<igx-card class="tp-app__backlog-card">
    <igx-card-header>
        <h1 igxCardHeaderTitle>Master Backlog</h1>
    </igx-card-header>
    <igx-divider></igx-divider>
    <igx-card-content>
        <igx-tabs>
            <igx-tabs-group label="unassigned">
                <igx-input-group type="search" class="tp-app__task-search">
                    <input #taskSearch igxInput placeholder="Search" />
                    <igx-prefix>
                        <igx-icon>search</igx-icon>
                    </igx-prefix>
                    <igx-suffix *ngIf="taskSearch.value.length > 0" (click)="clearSearchInput()">
                        <igx-icon>clear</igx-icon>
                    </igx-suffix>
                </igx-input-group>
                <div class="tp-app__list-scroll">
                    <igx-list>
                        <igx-list-item *ngFor="let issue of issues; let i = index">
                            <div class="tp-app__backlog-list-template">
                                <div class="tp-app__backlog-list-template-row" #dragRef igxDrag
                                [ghostHost]="backlogElement"
                                     [ghostClass]="'drag_ghost_class'"
                                     (ghostCreate)="ghostCreateHandler(dragRef, issue, i)"
                                     (dragEnd)="dragEndHandler(dragRef)"
                                     class="tp-app__backlog-list-template-row tp-app__backlog-dragged-item"
                                    >
                                    <igx-icon class="tp-app__backlog-list-button tp-app__backlog-list-button--drag" igxDragHandle>drag_indicator</igx-icon>
                                    <div class="tp-app__backlog-list-template-text">
                                        <h1 [title]="issue.issue" igxListLineTitle>{{ issue.issue }}</h1>
                                        <h2 [class]="issue.priority.toLowerCase()" igxListLineSubTitle>
                                            {{issue.priority}}
                                        </h2>
                                    </div>
                                    <button class="tp-app__backlog-list-button tp-app__backlog-list-button--action" igxButton="icon" igxRipple igxRippleCentered="true" draggable="false" (click)="onEditIconClicked('edit', i, issue)">
                                        <igx-icon>edit</igx-icon>
                                    </button>
                                    <button class="tp-app__backlog-list-button tp-app__backlog-list-button--action" igxButton="icon" igxRipple igxRippleCentered="true" draggable="false" (click)="onEditIconClicked('delete', i, issue)">
                                        <igx-icon>delete</igx-icon>
                                    </button>
                                </div>
                            </div>
                        </igx-list-item>
                        <ng-template igxDataLoading>

                        </ng-template>
                        <ng-template igxEmptyList>
                            No issues found
                        </ng-template>
                    </igx-list>
                </div>
            </igx-tabs-group>
        </igx-tabs>
    </igx-card-content>
</igx-card>
