@use "../tp-theme/vars" as *;
@forward '@infragistics/igniteui-angular/theming';

::ng-deep {
    .tp-app {
        // TODO fix default style for empty template in the product
        .igx-list-empty {
            display: block;
            text-align: center;
        }
        &__task-search {
            margin: $search-margin !important;
            height: $search-height;
        }
        &__backlog-dragged-item {
            padding: rem(8px) rem(16px);
            -webkit-box-shadow: 0 4px 18px 3px rgba(0, 0, 0, 0.078), 0 10px 14px 1px rgba(0, 0, 0, 0.121), 0 6px 6px -3px rgba(0, 0, 0, 0.258);
            -moz-box-shadow: 0 4px 18px 3px rgba(0, 0, 0, 0.078), 0 10px 14px 1px rgba(0, 0, 0, 0.121), 0 6px 6px -3px rgba(0, 0, 0, 0.258);
            box-shadow: 0 4px 18px 3px rgba(0, 0, 0, 0.078), 0 10px 14px 1px rgba(0, 0, 0, 0.121), 0 6px 6px -3px rgba(0, 0, 0, 0.258);
            z-index: 10;
            max-width: 250px
        }
        &__backlog-list-template-text {
            max-width: 252px;
            overflow: hidden;
            h1,
            h2 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__backlog-list-template {
            display: flex;
            align-items: center;
            width: 100%;
            &-row {
                flex: 1;
                display: flex;
                align-items: center;
                width: 100%;
                overflow: hidden;
            }
            &-text {}
        }
        // override the native element
        .igx-list__item-thumbnail {
            align-self: center;
        }
        .igx-list__item-content {
            width: 100%;
        }
        &__backlog-list-button {
            &--action {
                display: none !important;
                min-width: 2.25rem
            }
            &--drag {
                margin-right: rem(16px);
            }
        }
        &__backlog {
            min-width: 100px;
            width: $backlog-width;
            margin-right: $tp-app-padding;
            .igx-card-header {
                min-height: $backlog-card-header-height;
            }
            .igx-tabs__header-menu-item--selected,
            .igx-tabs__header-menu-item {
                min-height: $backlog-tab-header-height;
            }
            // Add scroll to the list
            &-card,
            .igx-card-content,
            .igx-tabs>div,
            .igx-tabs,
            .igx-tabs__content-fluid,
            .igx-tabs__group {
                height: 100%;
                overflow: hidden;
            }
            .igx-tabs__content-fixed {
                height: 100%;
            }
            .tp-app__list-scroll {
                height: calc(100% - #{$scroll-subtract});
                overflow-x: auto;
            }
        }
    }
    .igx-list__item-base {
        &:hover,
        &:focus {
            .tp-app__backlog-list-button--action {
                display: flex !important;
                padding: 9px;
            }
        }
    }
    .tp-app-dark-theme {
        .tp-app__backlog-list-button {
            color: color($tp-palette, 'gray', 500) !important;
            igx-icon {
                color: color($tp-palette, 'gray', 500);
            }
            &:hover,
            &:focus {
                cursor: pointer;
                color: color($tp-palette, 'secondary') !important;
                igx-icon {
                    cursor: pointer;
                    color: color($tp-palette, 'secondary');
                }
            }
        }
        .tp-app__backlog-dragged-item {
            background: color($tp-palette, 'surface');
            color: contrast-color($tp-palette, 'surface');
            border-radius: $tp-radius;
        }
    }
    .tp-app-light-theme {
        .tp-app__backlog-list-button {
            color: color($tp-light-palette, 'gray', 500) !important;
            igx-icon {
                color: color($tp-light-palette, 'gray', 500);
            }
            &:hover,
            &:focus {
                cursor: pointer;
                color: color($tp-light-palette, 'secondary') !important;
                igx-icon {
                    cursor: pointer;
                    color: color($tp-light-palette, 'secondary');
                }
            }
        }
        .tp-app__backlog-dragged-item {
            background: color($tp-light-palette, 'surface');
            color: contrast-color($tp-light-palette, 'surface');
        }
    }
}